APP_NAME=Kamu
APP_KEY=
BASEURL=http://localhost:8000/
DEBUG=false
LOG=false

DB_DRIV=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=kamu
DB_USER=root
DB_PASS=

JWT_EXP=3600
JWT_KEY=

MONGODB_URI=
MONGODB_DB=
MONGODB_COLLECTION=
RATE_LIMIT=120
RATE_LIMIT_WINDOW=86400
